@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Manrope&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif !important;
    background: ghostwhite;

}

button,
a {
    cursor: pointer;
}

textarea {
    border: 1px solid #333;
    font-family: 'Manrope', sans-serif;
    line-height: 1.6 !important;
}

p {
    font-family: "Sen", sans-serif !important;
}

a {
    text-decoration: none;
    color: black;
}

.jodit_toolbar {
    position: sticky !important;
    top: 0px !important;
    z-index: 999 !important;
}

.jodit_wysiwyg {
    height: 90vh !important;
}

.rdw-editor-toolbar {
    position: sticky !important;
    top: 0px !important;
    z-index: 999 !important;
}

.rdw-image-modal-url-input {
    border-bottom: 1px solid black !important;
}

.st-cmp-settings-icon {
    display: none !important;
}

.spinner {
    width: 40px;
    animation: spinner 1s ease infinite;
    position: relative;
}


@keyframes spinner {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-menu img {
    animation: menu 3s ease forwards;
    position: relative;
}

@keyframes menu {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Category is global because i'm sharing the same classnames as in search page */

/* CATEGORY PAGE  */

.category {
    margin: 10px auto;
    width: 95%;
}

.category-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.category-items-wrap {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.category-item-content {
    margin-left: 10px;
    line-height: 20px;
}

.category-item-content p {
    margin: 3px 0;
}

.category-item {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.category-item img {
    width: 130px;
    height: 80px;
}

/* TABLET SCREEN  */

@media only screen and (min-width:600px) {
    .category {
        width: 90%;
    }

    .category-item img {
        height: 100px;
    }

    .category-item-content {
        margin-left: 20px;
    }

    .category-items-wrap {
        grid-template-columns: 1fr 1fr;
        gap: 4px;
    }

}

/* IPAD PRO | SMALL LAPTOP  */

@media only screen and (min-width:1000px) {
    .category-items-wrap {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .category {
        width: 80%;
    }

    .category-item-content {
        margin-left: 30px;
    }
}

/* LAPTOP  */

@media only screen and (min-width:1300px) {
    .most-popular-category {
        display: block;
        margin-left: 50px;
    }

    .category-wrap {
        justify-content: space-between;
    }
}

/* 4K SCREEN  */

@media only screen and (min-width:2500px) {
    .category {
        margin: 0 auto;
        width: 60%;
    }

    .most-popular-category {
        margin-left: 190px;
    }
}


/* NEW POST PAGE  */

.new-post-page {
    margin: auto;
    width: 95%;
    padding: 10px 0 30px 0;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}

.form-item input {
    border: none;
    outline: none;
    padding: 7px 5px;
}

.form-item input:focus {
    border-bottom: 1px solid rgb(51, 62, 99);
}

.form-item label {
    margin-bottom: 5px;
}


.submit-post {
    margin: auto;
    width: 70%;
}

.submit-post button {
    border: none;
    border: 1px solid rgb(62, 82, 163);
    color: white;
    background: rgb(62, 82, 163);
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.submit-post button:focus {
    transform: scale(0.8);
}

.submit-post button:active {
    transform: scale(0.98);
}


/* IPAD PRO | SMALL LAPTOP  */

@media only screen and (min-width:1000px) {

    .form-wrap-new {
        display: grid;
        display: -moz-grid;
        display: -ms-grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px
    }

}

/* 4K SCREEN  */

@media only screen and (min-width:2500px) {

    .new-post-page {
        width: 60%;
    }
}